<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Ololoď – potvrzení rezervace</title>
</head>
<body>
	<h2>Rezervace na plavbu {$date} v {$time}</h2>
	<p>Přihlásili jste se na plavbu na Ololoďi. Pro potvrzení vaší rezervace prosím klikněte na tento odkaz:</p>
	<p><a href="{$conf_url}" target="_blank">{$conf_url}</a></p>
	<p>Pokud o tuto plavbu nemáte již zájem nebo tento email nepatří vám, rezervaci prosím nepotvrzujte.</p>
	<b>Ololoď – plavby Olomouc</b><br>
	<a href="http://plavbyolomouc.cz" target="_blank">http://plavbyolomouc.cz</a><br>
</body>
</html>