<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Ololoď – rezervace platná</title>
</head>
<body>
	<h2>Potvrdili jste Vaši rezervaci.</h2>
	<p>Děkujeme za potvrzení Vaší rezervace. Pro zrušení rezervace prosím klikněte na tento odkaz:</p>
	<p><a href="{$del_url}" target="_blank">{$del_url}</a></p>
	<b>Ololoď – plavby Olomouc</b><br>
	<a href="http://plavbyolomouc.cz" target="_blank">http://plavbyolomouc.cz</a><br>
</body>
</html>
