<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Ololoď – rezervace zrušena</title>
</head>
<body>
	<h2>Zrušili jste Vaši rezervaci.</h2>
	<p>Mrzí nás, že to tentokrát nestihnete. Snad tedy přístě naviděnou</p>
	<b>Ololoď – plavby Olomouc</b><br>
	<a href="http://plavbyolomouc.cz" target="_blank">http://plavbyolomouc.cz</a><br>
</body>
</html>
